#Options +FollowSymLinks
IndexIgnore */*
RewriteEngine On
# images|styles|scripts|uploads|_manager|_website|_cache|
RewriteRule ^(images|styles|scripts|uploads|flash|_manager|_website|img|_javascript|.*\.(pem|doc|docx|xls|xlsx|css|js|jpg|JPG|mp3|jpeg|JPEG|gif|GIF|swf|xml|png|PNG|pdf|ico|zip|rar|php|html|txt|sql)) - [L]
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [QSA,L]
# block access to some sensible files
<Files ~ "^sftp-config.json|.gitignore|.sass-cache|.htaccess|.git|node_modules">
  Order allow,deny
  Deny from all
</Files>

# force non-www domain
RewriteEngine On
RewriteCond %{HTTPS} off [OR]

RewriteCond %{HTTP_HOST} ^www\.ajaraheritage\.ge\club$ [NC]
RewriteRule ^ https://ajaraheritage.ge/club%{REQUEST_URI} [R=301,L,NE]